/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Text*/
.heading-brand{
    display: flex;
    position: relative;
    margin-top: 25vh;
    margin-bottom: 1px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 5em;
    color: #FFFFFF;
    text-shadow: 0 0 0.5em #342E37;
}

.heading-desc{
    margin: 1px 0;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #342E37;
    text-shadow: 0 0 0.5em white;
    padding: 15px 15px;
    border-radius: 25px;
}

/* Images */
.heading-img {
    width: 300px;
    display: flex;
    position: relative;
    margin-top: 17vh;
    margin-bottom: 1px;
}

/*Divs*/
.body-container{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
}

.body-container::before {
    content: "";
    background: url("../images/bg.jpg") no-repeat center center/cover;
    background-position: center;
    position: absolute;
    margin: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}


/* Utility Classes */

.bold{
    font-weight: bolder;
}

.italics{
    font-style: italic;
}

.flex{
    display: flex;
    align-items: center;
}
