/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Text*/
.para-components {
    color: black;
    text-align: justify;
    font-family: 'Recursive', cursive;

}

.heading-components-inner {
    font-family: 'Recursive', cursive;
    color: #e0626a;
    text-align: center;
}

.heading-components {
    margin-top: 36px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 50px;
    color: #EE964B;
}

.heading-brand {
    display: flex;
    position: relative;
    margin-top: 25vh;
    margin-bottom: 1px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 5em;
    color: #FFFFFF;
    text-shadow: 0 0 0.5em #342E37;
}

.heading-desc {
    margin: 1px 0;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #CD5D67;
    text-shadow: 0 0 0.5em #CD5D67, 0 0 1em #CD5D67, 0 0 1.5em #CD5D67;
    padding: 15px 15px;
    border-radius: 25px;
}

.features-text {
    color: #EE964B;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    text-shadow: 0 0 0.5em #EE964B, 0 0 1em #EE964B, 0 0 1.5em #EE964B;
}

.heading-feature {
    font-family: "Baloo Bhai 2", cursive;
}

.footer-heading {
    position: absolute;
    font-family: 'Baloo Bhai 2', cursive;
    text-shadow: 0 0 10px black;
    top: 450vh;
    left: 35vw;
}

.footer-heading-two {
    font-family: 'Baloo Bhai 2', cursive;
    color: #EE964B;
    position: absolute;
    top: 510vh;
    left: 28vw;
    text-shadow: 0 0 10px black;
}

.feature-span {
    color: #EE964B;
}

.para-feature {
    color: white;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

/* Images */
.component-table {

}

.component-chart {
    margin: auto;
}

.heading-img {
    width: 300px;
    display: flex;
    position: relative;
    margin-top: 30vh;
    margin-bottom: 1px;
    z-index: -1;
}

/* Whole body */
body {
    background: url("../images/MentisBackOp.svg") no-repeat center center/cover;
    background-position: top;
}

html, body {
    width: 100%;
}


/*Divs*/
.form-div-table{
    position: absolute;
    top: 20vh;
}

.result-form-table {
    margin-top: 132px;
    margin-right: 200px;
    display: flex;
    margin-left: 200px;
    align-items: center;
}

.component-inner-div {
    margin: 0 20px;
    width: 600px;
    padding: 10px 20px;
    background-color: white;
    opacity: 0.7;
    box-shadow: 0 0 10px black;
    transition: all 0.2s ease-in-out
}

#first-component {
    padding: 22px 25px;
}

.component-inner-div:hover {
    box-shadow: 0 0 10px black, 0 0 40px black, 0 0 80px black;

}


.container-components {
    width: 100vw;
    /*margin-top: 100px;*/
    justify-content: center;
    align-items: center;
}

.form-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 460vh;
    justify-content: center;
    left: 37vw;
    position: absolute;
    padding: 20px 20px;
    }

.feature-three-text-div {
    margin-right: 211px;
}

.bg-div {
    flex-direction: column;
}

.feature-one {
    margin-bottom: 200px;
}

.feature-two {
    margin-bottom: 200px;
}

.feature-three {
    margin-bottom: 200px;
}

/*.body-footer{*/
/*    margin-bottom: 200px;*/
/*}*/

.body-container-bg {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    height: 90vh;
}

.body-container-bg::before {
    content: "";
    /* background: url("../images/MentisBackOp.svg") no-repeat center center/cover; */
    background-position: top;
    position: absolute;
    margin: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0;
}

.body-container {
    position: absolute;
    margin-top: 80vh;
    left: 20px;
}

/* Content */
h1 {
    color: #FFFFFF;
    margin-top: 1em;
    text-shadow: 0 0 10px black;
}

.content {
    color: #FFFFFF;
}

/*Underlines*/
.underline-blue {
    height: 0.5rem;
    width: 10rem;
    border-radius: 20px;
    background: #32d2b5;
}

/* Utility Classes */

.bold {
    font-weight: bolder;
}

.italics {
    font-style: italic;
}

.flex {
    display: flex;
    align-items: center;
}

span {
    margin: 5px;
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #cec9c9;
    border-radius: 12px;
}

/*Forms*/

.form-div form input::placeholder{
    color: #bdb5b5;
    font-size: 20px;
    font-family: 'Recursive', cursive;
}

.form-div form input{
    color: white;
    margin: 10px 20px;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #EE964B;
    font-family: 'Recursive', cursive;
    font-size: 20px;
    outline: none;
}

.form-div form label{
    font-family: 'Recursive', cursive;
    font-size: 20px;
    /*color: #EE964B;*/

}

#label-username{
    position: absolute;
    right: 345px;
    top: 85px;
}

#username{
    position: absolute;
    top: 70px;
    right: 21px;
}

#label-password1{
    position: absolute;
    right: 345px;
    top: 135px;
}

#password1{
    position: absolute;
    top: 120px;
    right: 21px;
}

#label-password2{
    position: absolute;
    right: 345px;
    top: 185px;
}

#password2 {
    position: absolute;
    top: 170px;
    right: 21px;
}

/*Tables*/
