/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Text*/
.heading-brand{
    display: flex;
    position: relative;
    margin-top: 25vh;
    margin-bottom: 1px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 5em;
    color: #FFFFFF;
    text-shadow: 0 0 0.5em #342E37;
}

.heading-desc{
    margin: 1px 0;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #CD5D67;
    text-shadow: 0 0 0.5em #CD5D67, 0 0 1em #CD5D67, 0 0 1.5em #CD5D67;
    padding: 15px 15px;
    border-radius: 25px;
}

.features-text {
    color: #EE964B;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    text-shadow: 0 0 0.5em #EE964B, 0 0 1em #EE964B, 0 0 1.5em #EE964B;
}

.heading-one-feature {
    font-family: "Baloo Bhai 2", cursive;
    /*position: absolute;*/
    top: 0;
}

.heading-two-feature {
    font-family: "Baloo Bhai 2", cursive;
    /*position: absolute;*/
    /*top: 0;*/
}

.heading-three-feature {
    font-family: "Baloo Bhai 2", cursive;
    /*position: absolute;*/
    top: 185vh;
}

.footer-heading {
    position: absolute;
    font-family: 'Baloo Bhai 2', cursive;
    text-shadow: 0 0 10px black;
    top: 450vh;
    left: 35vw;
}

.footer-heading-two {
    font-family: 'Baloo Bhai 2', cursive;
    color: #EE964B;
    position: absolute;
    top: 460vh;
    left: 28vw;
    text-shadow: 0 0 10px black;

}

.feature-span {
    color: #EE964B;
}

.para-one-feature {
    position: absolute;
    color: white;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    top: 80px;
}

.para-two-feature {
    /*position: absolute;*/
    color: white;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    top: 100vh;
}

.para-three-feature {
    /*position: absolute;*/
    color: white;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    top: 200vh;
}

.para-span {
    color: #EE964B;
    font-weight: bolder;
}


/* Images */
.heading-img {
    width: 300px;
    display: flex;
    position: relative;
    margin-top: 30vh;
    margin-bottom: 1px;
    z-index: -1;
}

.image-feature-one {
    width: 700px;
    height: 400px;
    position: absolute;
    right: 100px;
    /*margin-right: 100px;*/
    /*margin-left: 51vw;*/
    z-index: -1;
}

.image-feature-two {
    width: 700px;
    height: 400px;
    z-index: -1;
}

.image-feature-three {
    width: 700px;
    height: 400px;
    /*!*margin-right: 100px;*!*/
    /*margin-left: 51vw;*/
    /*z-index: -1;*/
    /*position: absolute;*/
    /*right: 100px;*/
}

/* Whole body */
body {
    background: url("../images/MentisBackOp.svg") no-repeat center center/cover;
    background-position: top;
}


/*Divs*/
.feature-text-div{
    position: absolute;
    left: 20px;
}

.footer-div{
    margin-bottom: 100px;
}

.body-header {
    /*height:100%;*/
}

.feature-one {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 200px;
}

.feature-two {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.feature-three {
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.features {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.body-container-bg {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    height: 90vh;
}

.body-container-bg::before {
    content: "";
    /* background: url("../images/MentisBackOp.svg") no-repeat center center/cover; */
    background-position: top;
    position: absolute;
    margin: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0;
}

.body-container {
    /*flex-direction: column;*/
    position: absolute;
    /*top: 120vh;*/
    margin-top: 80vh;
    left: 20px;
    /*margin: 2.5em;*/
    /*padding: 2.5em;*/
    /*border-radius: 10px;*/
    /*text-shadow: 0 0 10px black;*/
    /*background-image: linear-gradient( 45deg , rgba(255, 255, 255, 0.25) , rgba(255, 255, 255, 0.5) );*/
    /*backdrop-filter: blur(2.5px);*/
}

/* Content */
h1 {
    color: #FFFFFF;
    /*margin: 5em;*/
    margin-top: 1em;
    text-shadow: 0 0 10px black;
}

.content {
    color: #FFFFFF;
}

/*Underlines*/
.underline-blue {
    position: absolute;
    top: 50px;
    height: 0.5rem;
    width: 10rem;
    border-radius: 20px;
    background: #32d2b5;
}

.underline-blue-two {
    /*position: absolute;*/
    top: 90vh;
    height: 0.5rem;
    width: 10rem;
    border-radius: 20px;
    background: #32d2b5;
}

.underline-blue-three {
    /*position: absolute;*/
    top: 198vh;
    height: 0.5rem;
    width: 10rem;
    border-radius: 20px;
    background: #32d2b5;
}

/* Utility Classes */

.bold {
    font-weight: bolder;
}

.italics {
    font-style: italic;
}

.flex {
    display: flex;
    align-items: center;
}

span {
    margin: 5px;
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #cec9c9;
    border-radius: 12px;
}