{% extends 'components/charts/base_select.html' %}
{%  load static %}
{% block title %}Mentis Oculi | Chart Form{% endblock %}
{% block header %}
    <nav class="navbar-header flex">
        <div class="navbar-div">
            <ul class="navbar-list flex">
                <div class="navbar-logo-div">
                    <embed src="{% static 'images\logo.svg' %}" alt="LOGO-IMAGE" id="navbar-logo">
                </div>
                <!--            <li class="navbar-brand flex underline-brand"><a class="navbar-brand-link bold" href="#">MENTIS OCULI</a></li>-->
                <li class="navbar-list-item"><a class="navbar-list-link flex" id="navbar-first-link"
                                                href="{% url 'home:index' %}">Home</a></li>
                <li class="navbar-list-item"><a class="navbar-list-link flex"
                                                href="{% url 'home:components' %}">Components</a></li>
                                <li class="navbar-list-item"><a class="navbar-list-link flex"
                                                            href="{% url 'home:my_files' %}">MyFiles</a></li>
                {% if user.is_authenticated %}
                    <button class="flex navbar-button" id="navbar-signout" onclick="location.href='/signout'" href="#">
                        <span class="fa fa-sign-in"> </span> Sign out
                    </button>

                    <div id="welcome-user">
                        Hi, {{ user.first_name }}
                    </div>

                {% else %}
                    <li class="navbar-list-item">
                        <button class="flex navbar-button" id="navbar-signin" href="#"><span
                                class="fa fa-sign-in"> </span>Signin
                        </button>
                    </li>

                    <li class="navbar-list-item">
                        <button class="flex navbar-button" id="navbar-signup" href="#"
                                onclick="location.href='/signup'">
                            <span class="fa fa-user"></span> Signup
                        </button>
                    </li>

                {% endif %}

            </ul>
        </div>
    </nav>
{% endblock %}
{% block Chart_Select %}
    <script>
        function check_form(){

            {% if not hide_file_upload %}
                let all_files = document.getElementById("file-upload-id-chart").files
                let input_tag = document.getElementById("original-file-name")

                if (all_files.length > 0) {
                    input_tag.value = all_files[all_files.length - 1].name;
                } else { return false }

            {% endif %}

            return true
        }
    </script>
    <form data-aos="fade-up" data-aos-duration="1000" action="" onsubmit="check_form()" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="hidden" name="original_file_name" id="original-file-name">

        <div class="form-container-chart">
            {% if not hide_file_upload %}
            <div class="form-div-chart">
                <p>
                    <label for="file-upload-id-chart">Chartfile:
                        <input type="file" name="file" class="file-upload-btn-chart" id="file-upload-id-chart">
                    </label>
                </p>
            </div>

            <p style="color: red;
    font-size: 13px;"> Only upload files with 2 columns/2 rows
                <a href="/static/images/example.png" target="_blank">Example</a>
            </p>

            <label for="file-upload-id-chart" id="selector-label-chart">
                <span class="fa fa-file-excel-o"></span>Select File
            </label>
            <p class="form-text-chart">
                Upload An Excel File And Let Our Mentis Oculi Do The Magic For You!
            </p>
            {% endif %}

            <div class="form-div-chart-two" style="margin-left: -142px;">
                <div class="select-box-two" style="display: flex; width: 87%;flex-direction: column; margin: 10px 100px">
                    <div class="options-container-two">
                        <div class="option-two">
                            <input type="radio" class="radio" id="bar" name="category">
                            <label for="bar" style="text-transform: capitalize;">Bar</label>
                        </div>

                        <div class="option-two">
                            <input type="radio" class="radio" id="pie" name="category">
                            <label for="pie" style="text-transform: capitalize;">Pie</label>
                        </div>

                        <div class="option-two">
                            <input type="radio" class="radio" id="line" name="category">
                            <label for="line" style="text-transform: capitalize;">Line</label>
                        </div>

                        <div class="option-two">
                            <input type="radio" class="radio" id="radar" name="category">
                            <label for="radar" style="text-transform: capitalize;">Radar</label>
                        </div>

                        <div class="option-two">
                            <input type="radio" class="radio" id="doughnut" name="category">
                            <label for="doughnut" style="text-transform: capitalize;">Doughnut</label>
                        </div>
                    </div>

                    <div class="selected-two">
                        Change Graph Type
                        <span class="fa fa-arrow-down arrow-css"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="form-submit-button-chart">Submit</button>

        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}