{% extends 'home/base.html' %}
{% load static %}
{% block title %}Mentis Oculi | Your Perfect Data Visualizer{% endblock %}

{% block header %}
<nav class="navbar-header flex">
    <div class="navbar-div">
        <ul class="navbar-list flex">
            <div class="navbar-logo-div">
                <embed src="{% static 'images\logo.svg' %}" alt="LOGO-IMAGE" id="navbar-logo">
            </div>
<!--            <li class="navbar-brand flex underline-brand"><a class="navbar-brand-link bold" href="#">MENTIS OCULI</a></li>-->
            <li class="navbar-list-item"><a class="navbar-list-link flex" id="navbar-first-link" href="#">Home</a></li>
            <li class="navbar-list-item"><a class="navbar-list-link flex" href="{% url 'home:components' %}">Components</a></li>
            <li class="navbar-list-item"><a class="navbar-list-link flex" href="{% url 'home:favourites' %}">Favourites</a></li>
            <li class="navbar-list-item">
                <button class="flex navbar-button" id="navbar-signin" href="#"><span class="fa fa-sign-in"> </span>Signin</button>
            </li>
            <li class="navbar-list-item">
                <button class="flex navbar-button" id="navbar-signup" href="#"><span class="fa fa-user"> </span> Signup</button>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block main-bg %}
<embed src="{% static 'images\logo.svg' %}" width="400px" alt="LOGO-IMAGE" class="heading-img">
<h1 class="heading-desc">Your Perfect Data Visualizer</h1>
<p class="features-text flex">Visualize Data, View Charts, Make Tables, Export Your Model And Much More...</p>
<div class="buttons-div">
    <!-- <button class="btn-arrow-left"><span class="fa fa-chevron-left"></span></button> -->
    <button class="btn-get-started"><span class="fa fa-check-square-o"></span>Get Started</button>
    <button class="btn-how-it-works"><span class="fa fa-arrow-circle-right"></span>How To Operate</button>
    <!-- <button class="btn-arrow-right"><span class="fa fa-chevron-right"></span></button> -->

</div>
{% endblock %}
{% block main-content %}
<div class="features" data-aos="fade-up" data-aos-duration="1000">
    <div class="feature-one">
        <div class="feature-text-div">
            <h1 class="heading-one-feature">In Search Of A <span class="feature-span">Free Data Visualizer?</span>
            </h1>
            <div class="underline-blue"></div>
            <p class="para-one-feature">We are here to offer you with <span class="para-span">Mentis Oculi</span>
                which
                <br>is free of cost having all the necessary features <br>to analyze your data and make manipulations!
            </p>
        </div>
        <embed src="{% static 'images\features\feature-image-one.svg' %}" width="600px" height="500px"
               alt="FEATURE-ONE-IMAGE"
               class="image-feature-one">
    </div>
    <div class="feature-two" data-aos="fade-up" data-aos-duration="1000">

        <embed src="{% static 'images\features\feature-image-two.svg' %}" width="600px" height="500px"
               alt="FEATURE-ONE-IMAGE"
               class="image-feature-three">
        <div class="feature-two-text-div">
            <h1 class="heading-two-feature">Fed Up Analyzing <span class="feature-span">Huge Chunk Of Data?</span>

            </h1>
            <div class="underline-blue-two"></div>
            <p class="para-two-feature">You are at the correct place now! We put forward some<br><span
                    class="para-span">awesome favourite tools </span>to analyze your data in the form of <br>graphs
                and tables...
            </p>
        </div>
    </div>
    <div class="feature-three" data-aos="fade-up" data-aos-duration="1000">
        <div class="feature-text-div">
            <h1 class="heading-three-feature">Want All The <span class="feature-span">Different Types Of Graph</span>
                For Your Data?
            </h1>
            <div class="underline-blue-three"></div>
            <p class="para-three-feature">We'll provide with <span
                    class="para-span">all the different types of chart<br></span> for your data and export your chart as
                a csv file or png file.
            </p>
        </div>
        <embed src="{% static 'images\features\feature-image-three.svg' %}" width="600px" height="500px"
               alt="FEATURE-ONE-IMAGE"
               class="image-feature-three">
</div>


    {% endblock %}

    <!--{% block footer %}-->
    <!--<div class="footer-div">-->
    <!--    <h1 class="footer-heading">So, What's The Delay For?</h1>-->
    <!--    <h2 class="footer-heading-two">Start The Awesome Journey With <span>Mentis Oculi</span>!</h2>-->
    <!--</div>-->
    <!--{% endblock %}-->
