{% extends 'home/base.html' %}
{% load static %}
{% block title %}Mentis Oculi | Your Perfect Data Visualizer{% endblock %}

{% block head_links %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block header %}
    <nav class="navbar-header flex">
    <div class="navbar-div">
        <ul class="navbar-list flex">
            <div class="navbar-logo-div">
                <embed src="{% static 'images\logo.svg' %}" alt="LOGO-IMAGE" id="navbar-logo">
            </div>
            <li class="navbar-list-item"><a class="navbar-list-link flex" id="navbar-first-link" href="{% url 'home:index' %}">Home</a></li>
            <li class="navbar-list-item"><a class="navbar-list-link flex" href="{% url 'home:components' %}">Components</a></li>
            <li class="navbar-list-item"><a class="navbar-list-link flex"
                                            href="{% url 'home:my_files' %}">MyFiles</a></li>
            {% if user.is_authenticated %}
                <button class="flex navbar-button" id="navbar-signout" onclick="location.href='/signout'" href="#">
                    <span class="fa fa-sign-in"> </span> Sign out
                </button>

                <div id="welcome-user">
                    Hi, {{ user.first_name }}
                </div>

            {% else %}
                <li class="navbar-list-item">
                    <a class="flex navbar-button" id="navbar-signin" href="#loginFormDiv" onclick="show_login_form()"><span class="fa fa-sign-in"> </span>Signin</a>
                </li>

                <li class="navbar-list-item">
                    <a class="flex navbar-button" id="navbar-signup" href="#registerFormDiv" onclick="show_register_form()">
                        <span class="fa fa-user"></span> Signup
                    </a>
                </li>

            {% endif %}

        </ul>
    </div>
</nav>
{% endblock %}

{% block main-bg %}
<div class="bg-div flex">
    <embed src="{% static 'images\logo.svg' %}" width="400px" alt="LOGO-IMAGE" class="heading-img">
    <h1 class="heading-desc">Your Perfect Data Visualizer</h1>
    <p class="features-text flex">Visualize Data, View Charts, Make Tables, Export Your Model And Much More...</p>
    <div class="buttons-div">
        <!-- <button class="btn-arrow-left"><span class="fa fa-chevron-left"></span></button> -->
        <button class="btn-get-started" onclick="location.href = 'components/'"><span class="fa fa-check-square-o"></span>Get Started</button>
        <button data-aos="fade-up" data-aos-duration="1000" onclick="location.href = 'https://github.com/MONzTER-DEVS/Timathon'" target="_blank" class="btn-how-it-works" style="text-decoration: none; cursor:pointer;"><span class="fa fa-arrow-circle-right"></span>How To Operate</button>
        <!-- <button class="btn-arrow-right"><span class="fa fa-chevron-right"></span></button> -->
    </div>
</div>
{% endblock %}

{% block main-content %}
    <div class="features" data-aos="fade-right" data-aos-duration="1000">
        <div class="feature-one flex">
            <div class="feature-text-div">
                <h1 class="heading-feature">In Search Of A <span class="feature-span">Free Data Visualizer?</span>
                </h1>
                <div class="underline-blue"></div>
                <p class="para-feature">We are here to offer you with <span class="para-span">Mentis Oculi</span>
                    which
                    <br>is free of cost having all the necessary features <br>to analyze your data and make
                    manipulations!
                </p>
            </div>
        <embed src="{% static 'images\features\feature-image-one.svg' %}" width="600px" height="500px"
               alt="FEATURE-ONE-IMAGE"
               class="image-feature-one">
        </div>
        <div class="feature-two flex" data-aos="fade-left" data-aos-duration="1000">

            <embed src="{% static 'images\features\feature-image-two.svg' %}" width="600px" height="500px"
               alt="FEATURE-ONE-IMAGE"
               class="image-feature-two">
        <div class="feature-two-text-div">
            <h1 class="heading-feature">Fed Up Analyzing <span class="feature-span">Huge Chunk Of Data?</span>

            </h1>
            <div class="underline-blue"></div>
            <p class="para-feature">You are at the correct place now! We put forward some<br><span
                    class="para-span">awesome favourite tools </span>to analyze your data in the form of <br>graphs
                and tables...
            </p>
        </div>
        </div>
        <div class="feature-three flex" data-aos="fade-right" data-aos-duration="1000">
            <div class="feature-three-text-div">
                <h1 class="heading-feature">Want All The <span class="feature-span">Different Types <br>Of Graph</span>
                    For Your Data?
                </h1>
                <div class="underline-blue"></div>
                <p class="para-feature">We'll provide with <span
                        class="para-span">all the different types of chart<br></span> for your data and export your
                    chart as
                    a csv file or png file.
                </p>
            </div>
        <embed src="{% static 'images\features\feature-image-three.svg' %}" width="600px" height="500px"
               alt="FEATURE-ONE-IMAGE"
               class="image-feature-three">
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer-div" id="footerDiv">
    <!--    <h1 class="footer-heading" data-aos="fade-right" data-aos-duration="1000">-->
    <!--        So, What's The Delay For?-->
    <!--    </h1>-->

    {% if user.is_authenticated %}

        <div class="form-div" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="footer-heading">So, What's The Delay For?
            </h1>
            <form action="components" method="get">
                <button class="form-submit-continue">Continue</button>
            </form>
            <h1 class="footer-heading-two">Start The Awesome Journey With <span>Mentis Oculi</span>!</h1>

        </div>

    {% else %}

        <div class="form-div" data-aos="fade-right" data-aos-duration="1000">
            <div id="registerFormDiv">
                <h1 class="footer-heading">So, What's The Delay For?</h1>
                <form action="/signup/" method="post" id="registerForm">
                    {% csrf_token %}
                    <label for="name" id="label-name">Name:</label>
                        <input type="text" placeholder="Name" name="name" id="name"><br>

                    <label for="username" id="label-username">Username:</label>
                        <input type="text" placeholder="Username" id="username" name="username"><br>

                    <label for="password1" id="label-password1">Password:</label>
                        <input type="password" placeholder="Password" id="password1" name="password"><br><br>

                    <label for="password2" id="label-password2">Confirm Password:</label>
                        <input type="password" id="password2" placeholder="Confirm Password" name="confirm_password"><br><br>

                    <button class="form-submit"> Submit </button>

                </form>

                <a href="#loginFormDiv" class="form-alternate-sign-in-out" onclick="show_login_form()">
                    Already registered ?
                </a>
                <h1 class="footer-heading-two">Start The Awesome Journey With <span>Mentis Oculi</span>!</h1>
            </div>

            <div id="loginFormDiv" style="display: none">
                <h1 class="footer-heading">So, What's The Delay For?</h1>

                <form action="/signin/" method="post" id="loginForm">
                    {% csrf_token %}

                    <label for="username" id="label-username-login">Username:</label>
                    <input type="text" placeholder="Username" id="username-login" name="username"><br>

                    <label for="password1" id="label-password1-login">Password:</label>
                    <input type="password" placeholder="Password" id="password1-login" name="password"><br><br>

                    <button class="form-submit" onclick=""> Submit </button>
                 </form>
                <a href="#registerForm" class="form-alternate-sign-in-out" onclick="show_register_form()">
                    New to Mentis Oculi ?
                </a>
                <h1 class="footer-heading-two">Start The Awesome Journey With <span>Mentis Oculi</span>!</h1>

            </div>
        </div>
    {% endif %}
    {% if login %}

        <script>
            show_login_form()
            location.href='#loginFormDiv'
        </script>

    {% elif signup %}
        <script>
            show_register_form()
            location.href = '#registerFormDiv'
        </script>

    {% endif %}

    <!--    <h2 class="footer-heading-two">Start The Awesome Journey With <span>Mentis Oculi</span>!</h2>-->
</div>
{% endblock %}
{% block footer-two %}
    <div class="svg-div" style="width: 100%;position: absolute;
    bottom: 33px;">
        <a href="https://github.com/MONzTER-DEVS/Timathon" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github svgies-one"
         viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
    </svg></a>
    <a href="https://discord.gg/qcJ9j4zW" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-discord svgies-two"
         viewBox="0 0 16 16">
        <path d="M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z"/>
        <path d="M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z"/>
    </svg></a>
    </div>
{% endblock %}
