{% extends 'home/base.html' %}
{% load static %}
{% block title %}Mentis Oculi | Your Perfect Data Visualizer{% endblock %}

{% block head_links %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block header %}
    <nav class="navbar-header flex">
    <div class="navbar-div">
        <ul class="navbar-list flex">
            <div class="navbar-logo-div">
                <embed src="{% static 'images\logo.svg' %}" alt="LOGO-IMAGE" id="navbar-logo">
            </div>
<!--            <li class="navbar-brand flex underline-brand"><a class="navbar-brand-link bold" href="#">MENTIS OCULI</a></li>-->
            <li class="navbar-list-item"><a class="navbar-list-link flex" id="navbar-first-link" href="{% url 'home:index' %}">Home</a></li>
            <li class="navbar-list-item"><a class="navbar-list-link flex" href="{% url 'home:components' %}">Components</a></li>
            <!-- <li class="navbar-list-item"><a class="navbar-list-link flex" href="{% url 'home:favourites' %}">Favourites</a></li> -->

            {% if user.is_authenticated %}
                <button class="flex navbar-button" id="navbar-signout" onclick="location.href='/signout'" href="#">
                    <span class="fa fa-sign-in"> </span> Sign out
                </button>

                <div id="welcome-user">
                    Hi, {{ user.first_name }}
                </div>

            {% else %}
                <li class="navbar-list-item">
                    <a class="flex navbar-button" id="navbar-signin" href="#loginFormDiv" onclick="show_login_form()"><span class="fa fa-sign-in"> </span>Signin</a>
                </li>

                <li class="navbar-list-item">
                    <a class="flex navbar-button" id="navbar-signup" href="#registerFormDiv" onclick="show_register_form()">
                        <span class="fa fa-user"></span> Signup
                    </a>
                </li>

            {% endif %}

        </ul>
    </div>
</nav>
{% endblock %}

{% block main-bg %}
<div class="bg-div flex">
    <embed src="{% static 'images\logo.svg' %}" width="400px" alt="LOGO-IMAGE" class="heading-img">
    <h1 class="heading-desc">Your Perfect Data Visualizer</h1>
    <p class="features-text flex">Visualize Data, View Charts, Make Tables, Export Your Model And Much More...</p>
    <div class="buttons-div">
        <!-- <button class="btn-arrow-left"><span class="fa fa-chevron-left"></span></button> -->
        <button class="btn-get-started" onclick="location.href = 'components/'"><span class="fa fa-check-square-o"></span>Get Started</button>
        <button data-aos="fade-up" data-aos-duration="1000" onclick="location.href = 'https://github.com/MONzTER-DEVS/Timathon'" target="_blank" class="btn-how-it-works" style="text-decoration: none; cursor:pointer;"><span class="fa fa-arrow-circle-right"></span>How To Operate</button>
        <!-- <button class="btn-arrow-right"><span class="fa fa-chevron-right"></span></button> -->
    </div>
</div>
{% endblock %}

{% block main-content %}
<div class="features" data-aos="fade-up" data-aos-duration="1000">
    <div class="feature-one flex">
        <div class="feature-text-div">
            <h1 class="heading-feature">In Search Of A <span class="feature-span">Free Data Visualizer?</span>
            </h1>
            <div class="underline-blue"></div>
            <p class="para-feature">We are here to offer you with <span class="para-span">Mentis Oculi</span>
                which
                <br>is free of cost having all the necessary features <br>to analyze your data and make manipulations!
            </p>
        </div>
        <embed src="{% static 'images\features\feature-image-one.svg' %}" width="600px" height="500px"
               alt="FEATURE-ONE-IMAGE"
               class="image-feature-one">
    </div>
    <div class="feature-two flex" data-aos="fade-up" data-aos-duration="1000">

        <embed src="{% static 'images\features\feature-image-two.svg' %}" width="600px" height="500px"
               alt="FEATURE-ONE-IMAGE"
               class="image-feature-two">
        <div class="feature-two-text-div">
            <h1 class="heading-feature">Fed Up Analyzing <span class="feature-span">Huge Chunk Of Data?</span>

            </h1>
            <div class="underline-blue"></div>
            <p class="para-feature">You are at the correct place now! We put forward some<br><span
                    class="para-span">awesome favourite tools </span>to analyze your data in the form of <br>graphs
                and tables...
            </p>
        </div>
    </div>
    <div class="feature-three flex" data-aos="fade-up" data-aos-duration="1000">
        <div class="feature-three-text-div">
            <h1 class="heading-feature">Want All The <span class="feature-span">Different Types <br>Of Graph</span>
                For Your Data?
            </h1>
            <div class="underline-blue"></div>
            <p class="para-feature">We'll provide with <span
                    class="para-span">all the different types of chart<br></span> for your data and export your chart as
                a csv file or png file.
            </p>
        </div>
        <embed src="{% static 'images\features\feature-image-three.svg' %}" width="600px" height="500px"
               alt="FEATURE-ONE-IMAGE"
               class="image-feature-three">
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer-div" id="footerDiv">
    <!--    <h1 class="footer-heading" data-aos="fade-right" data-aos-duration="1000">-->
    <!--        So, What's The Delay For?-->
    <!--    </h1>-->

    {% if user.is_authenticated %}

    <div class="form-div" data-aos="fade-right" data-aos-duration="1000">
        <h1 class="footer-heading">So, What's The Delay For?
        </h1>
        <form action="components" method="get">
            <button class="form-submit-continue">Continue</button>
        </form>
        <h1 class="footer-heading-two">Start The Awesome Journey With <span>Mentis Oculi</span>!</h1>

    </div>

    {% else %}

        <div class="form-div" data-aos="fade-right" data-aos-duration="1000">
            <div id="registerFormDiv">
                <h1 class="footer-heading">So, What's The Delay For?</h1>
                <form action="/signup/" method="post" id="registerForm">
                    {% csrf_token %}
                    <label for="name" id="label-name">Name:</label>
                        <input type="text" placeholder="Name" name="name" id="name"><br>

                    <label for="username" id="label-username">Username:</label>
                        <input type="text" placeholder="Username" id="username" name="username"><br>

                    <label for="password1" id="label-password1">Password:</label>
                        <input type="password" placeholder="Password" id="password1" name="password"><br><br>

                    <label for="password2" id="label-password2">Confirm Password:</label>
                        <input type="password" id="password2" placeholder="Confirm Password" name="confirm_password"><br><br>

                    <button class="form-submit"> Submit </button>

                </form>

                <a href="#loginFormDiv" class="form-alternate-sign-in-out" onclick="show_login_form()">
                    Already registered ?
                </a>
                <h1 class="footer-heading-two">Start The Awesome Journey With <span>Mentis Oculi</span>!</h1>
            </div>

            <div id="loginFormDiv" style="display: none">
                <h1 class="footer-heading">So, What's The Delay For?</h1>

                <form action="/signin/" method="post" id="loginForm">
                    {% csrf_token %}

                    <label for="username" id="label-username-login">Username:</label>
                    <input type="text" placeholder="Username" id="username-login" name="username"><br>

                    <label for="password1" id="label-password1-login">Password:</label>
                    <input type="password" placeholder="Password" id="password1-login" name="password"><br><br>

                    <button class="form-submit" onclick=""> Submit </button>
                 </form>
                <a href="#registerForm" class="form-alternate-sign-in-out" onclick="show_register_form()">
                    New to Mentis Oculi ?
                </a>
                <h1 class="footer-heading-two">Start The Awesome Journey With <span>Mentis Oculi</span>!</h1>

            </div>
        </div>
    {% endif %}
    {% if login %}

        <script>
            show_login_form()
            location.href='#loginFormDiv'
        </script>

    {% elif signup %}
        <script>
            show_register_form()
            location.href='#registerFormDiv'
        </script>

    {% endif %}

    <!--    <h2 class="footer-heading-two">Start The Awesome Journey With <span>Mentis Oculi</span>!</h2>-->
</div>
{% endblock %}
